<!DOCTYPE html>
<html ng-App="K&DApplication" leng="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dynamic filtering on Streaming Services">
    <meta name="author" content="Steven Emmink, Elise Vink, Renske Diependaal, Yürri Arnold">
    <title>Streamultis</title>

    <!-- Insert an icon for the web page after href="..", PNG format -->
    <link rel="icon" href="Pictures/Streamultis.png">
    <link href="CSS/Screen.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- <script src="Jquery script source></script> -->
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="JavaScript/angular.min.js"></script>
    <script src="JavaScript/Chart.min.js"></script>
    <script src="JavaScript/angular-chart.min.js"></script>
  </head>

  <body ng-controller="MainCtrl">

    <img id="logo" src="Pictures/StreamultisLogo.png" width=80%>
    <p class="subtitle">
      Welcome to Streamultis!<br>
      We are excited that you decided to use our webpage.<br>
      Please Read the README.txt in the zip.file carefully before continuing using this site.
    <p>


    <!-- Main Content -->

    <div class="left-column" style="background-image: url('Pictures/GradientBackground.jpeg'); background-size: 100% 100%">

      <!-- SPARQL ENDPOINT -->
      <section id="Endpoint" class="sparqlEndpoint">
        <div class="row">
          <div class="col-8 align-self-center">
            <h1>SPARQL Endpoint</h1>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="myInputEndPoint" placeholder="Insert SPARQL endpoint" required>
            </div>
          </div>
        </div>
      </section>

      <!-- Begin section Filters -->
      <section id="filters" class="filters">
        <h1>Filters</h1>
        <p>Please enter the filters below</p>

        <!-- Text filters -->
          <div class="row">
            <div class="col-8 align-self-center">
              <h2>Name Movie/Series</h2>
              <div class="input-group">
                <input type="text" class="form-control" ng-model="myTitle" placeholder="Insert Title" >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-8 align-self-center">
              <h2>Name Actor</h2>
              <div class="input-group">
                <input type="text" class="form-control" ng-model="myActor" placeholder="Actor full name" >
              </div>
            </div>
          </div>


        <!-- Radio filters -->
        <table id="tableAgeRestriction" class="table">
          <h2>Age Restriction</h2>
          <thead>
          </thead>
          <tbody>
            <tr>
              <td><div class="input-group"><input type="radio" name="ageRestriction" id="G" class="form-control" ng-model="myAgeRestriction" value="G" checked/>G (All ages)</div></td>
            </tr>
            <tr>
              <td><div class="input-group"><input type="radio" name="ageRestriction" id="PG" class="form-control" ng-model="myAgeRestriction" value="PG"/>PG (Parental guidence)</div></td>
            </tr>
            <tr>
              <td><div class="input-group"><input type="radio" name="ageRestriction" id="PG-13" class="form-control" ng-model="myAgeRestriction" value="PG-13"/>PG-13 (Parents cautioned)</div></td>
            </tr>
            <tr>
              <td><div class="input-group"><input type="radio" name="ageRestriction" id="R" class="form-control" ng-model="myAgeRestriction" value="R"/>R (Under 17 with adults)</div></td>
            </tr>
            <tr>
              <td><div class="input-group"><input type="radio" name="ageRestriction" id="NC-17" class="form-control" ng-model="myAgeRestriction" value="NC-17"/>NC-17 (17+ Only)</div></td>
            </tr>
          </tbody>
          <tfoot></tfoot>
        </table>

        <table id="tableGenres" class="table">
          <h2>Genre</h2>
          <thead>
          </thead>
          <tbody>
            <tr>
              <td><div class="input-group"><input type="radio" name="genres" id="Action" class="form-control" ng-model="myGenre" value="Action" />  Action</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="Adult" class="form-control" ng-model="myGenre" value="Adult" />  Adult</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="Adventure" class="form-control" ng-model="myGenre" value="Adventure" />  Adventure</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="Animation" class="form-control" ng-model="myGenre" value="Animation" />  Animation</div></td>
            </tr>
            <tr>
              <td><div class="input-group"><input type="radio" name="genres" id="Biography" class="form-control" ng-model="myGenre" value="Biography" />  Biography</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="Comedy" class="form-control" ng-model="myGenre" value="Comedy" />  Comedy</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="Crime" class="form-control" ng-model="myGenre" value="Crime" />  Crime</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="Documentary" class="form-control" ng-model="myGenre" value="Documentary" />  Documentary</div></td>
            </tr>
            <tr>
              <td><div class="input-group"><input type="radio" name="genres" id="Drama" class="form-control" ng-model="myGenre" value="Drama" />  Drama</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="Family" class="form-control" ng-model="myGenre" value="Family" />  Family</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="Fantasy" class="form-control" ng-model="myGenre" value="Fantasy" />  Fantasy</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="FilmNoir" class="form-control" ng-model="myGenre" value="Film-Noir" />  Film Noir</div></td>
            </tr>
            <tr>
              <td><div class="input-group"><input type="radio" name="genres" id="GameShow" class="form-control" ng-model="myGenre" value="Game-Show" />  Game Show</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="History" class="form-control" ng-model="myGenre" value="History" />  History</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="Horror" class="form-control" ng-model="myGenre" value="Horror" />  Horror</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="Musical" class="form-control" ng-model="myGenre" value="Musical" />  Musical</div></td>
            </tr>
            <tr>
              <td><div class="input-group"><input type="radio" name="genres" id="Music" class="form-control" ng-model="myGenre" value="Music" />  Music</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="Mystery" class="form-control" ng-model="myGenre" value="Mystery" />  Mystery</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="RealityTV" class="form-control" ng-model="myGenre" value="Reality-TV" />  Reality TV</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="Romance" class="form-control" ng-model="myGenre" value="Romance" />  Romance</div></td>
            </tr>
            <tr>
              <td><div class="input-group"><input type="radio" name="genres" id="SciFi" class="form-control" ng-model="myGenre" value="Sci-Fi" />  Sci-Fi</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="Short" class="form-control" ng-model="myGenre" value="Short" />  Short</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="Sport" class="form-control" ng-model="myGenre" value="Sport" />  Sport</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="TalkShow" class="form-control" ng-model="myGenre" value="Talk-Show" />  Talk-Show</div></td>
            </tr>
            <tr>
              <td><div class="input-group"><input type="radio" name="genres" id="Thriller" class="form-control" ng-model="myGenre" value="Thriller" />  Thriller</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="War" class="form-control" ng-model="myGenre" value="War" />  War</div></td>
              <td><div class="input-group"><input type="radio" name="genres" id="Western" class="form-control" ng-model="myGenre" value="Western" />  Western</div></td>
          </tbody>
          <tfoot>
            <div class="input-group-append"><button class="btn btn-outline-secondary" ng-click="startStreamultis()" type="button">GO!</button></div>
          </tfoot>
        </table>
      </secton>
    <!-- End section Filters -->
    </div>

    <!-- Begin section Results -->
    <div class="right-column">
      <div class="right-section">
        <h3>Netflix</h3>
        <table id="NetflixResults" class="table">
          <thead>
            <tr>
              <th onclick="sortTable(0)">Title</th>
              <th>Genre</th>
              <th>Age Restriction</th>
              <th>Actor</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <div class="right-section">
        <h3>Hulu</h3>
        <table id="HuluResults" class="table">
          <thead>
            <tr>
              <th onclick="sortTable(0)">Title</th>
              <th>Genre</th>
              <th>Age Restriction</th>
              <th>Actor</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <div class="right-section">
        <h3>Disney Plus</h3>
        <table id="DisneyPlusResults" class="table">
          <thead>
            <tr>
              <th onclick="sortTable(0)">Title</th>
              <th>Genre</th>
              <th>Age Restriction</th>
              <th>Actor</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <div class="right-section">
        <h3>Prime Video</h3>
        <table id="PrimeVideoResults" class="table">
          <thead>
            <tr>
              <th onclick="sortTable(0)">Title</th>
              <th>Genre</th>
              <th>Age Restriction</th>
              <th>Actor</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

  </body>
</html>
